@media (max-width:1140px) {
    .manu-title {
        display: none;
    }
    .burger-bar {
        display: block;
    }
    .header-information-hover {
        display: none;
    }
    #slider {
        width: 100%;
    }
    .backgorun-title{
        font-size: 30px;

    }
    .view-all-wrapper {
        max-width: 150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .view-all {
        font-size: 15px;
    }
.welcome-background {
    height: 1400px;
}
    .welcome-section-title{
        margin-top: -100px;
        font-size: 30px;
        max-width: 700px;
    }
.welcome-section-title {
    font-size: 20px;
    animation: welcome-second 5s infinite;
}
.welcome-section-text {
    display: none;
}
.history-section {
    height: 1200px;
}

.history-wrapper {
    margin-left: -200px;
    margin-top: -200px;
}
.history-title {
    font-size: 30px;
    margin-bottom: 30px;
}
.history-text {
    font-size: 10px;
    width: 300px;
}
.history-image-wrapper {
  display: none;
}
.history-icon-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

}
.child-history-section-wrapper {
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.about-blok {
    width: 100%;
}
.first-blok {
    margin-top: 200px;
}
.about-main-wrapper {
    flex-direction: column;
     position: relative;
     width: 400px;
     padding-top: 150px;
}
.about-blok {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
 }
 .millking-section{
    display: none;
 }
 .main-offer-image-wrapper {
    display: flex;
    flex-wrap: wrap;
 }
 .meet-farm-section {
     display: none;
 }
}
