/* all content style */
.text {
    line-height: 25px;
    color: #595959;
    font-family: 'BPG Glaho WEB Caps';
    font-weight: bold;
}
.title {
    font-family: "ArchyEDT-Bold", sans-serif;
}
/* header */
header {
    max-width: 100%;
    background-color: #fff2d4;
    margin-top: 10px;
}
/* burger bar */
.burger-bar {
    display: none;
}
.burgerbar {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 15px;
    display: none;
}
/* headre slider */
.index-header {
    background-image: url(../image/cows.jpg);
    background-size: cover;
    height: 740px;
    margin-top: -65px;
}
.second-header-image {
    background-image: url(../image/headre-slider-back-2.jpg);
}
.third-header-image {
    background-image: url(../image/headre-slider-back-3.jpg);
}
.header-manu-section {
    position: relative;
}

#slider .slick-slide  {
height: 740px;
}
#slider {
    margin-top: -65px;
}
#slider .slick-next  {
    right: 40px;
    z-index: 15;
}
#slider .slick-prev {
    left: 10px;
    z-index: 15;
    color: black;
}
#slider .slick-arrow::before {
    font-size: 40px;
    font-weight: bolder;
    border: 15px;
}

#slider .slick-arrow {
    z-index: 15;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: .5s;
}

#slider .slick-arrow:hover {
    background-color: #ffc107;
}
.footer-navigation-title:hover {
    background-color: #ffc107;
}
.footer-navigation-title {
    transition: .5s;
}
.main-headder-wrapper {
    position: static;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header-info-wrapper {
    display: flex;
    align-items: center;
}

header h3 {
    max-width: 400px;
    display: inline-block;
    transition: transform .5s;
    font-family: 'BPG Glaho WEB Caps';
}

.header-information-hover{
    max-width: 300px;
    color: #aaa;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Homemade Apple', cursive;
    transition: transform .5s;
}
.header-information-hover:hover{
    color: #f7bd00;
}

.header-icon {
    font-size: 50px;
    color:floralwhite;
    display: inline-block;
    margin-right: 15px;
}
.header-icon {
    font-size: 28px;
    background-color: #f7bd00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px !important;
    border: 50%;
    transition: 0,5s linear;
    color: #fff;
    cursor: pointer;
}
.header-icon:hover{
    font-size: 40px;
    background: none;
    color: #f7bd00;
    transform: scale(1.6);

}

.manu-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    margin: 0 -5px;
    background-color: #3f3025;
}

.manu-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    height: 65px;
    background-color: #362920;
    position: sticky;
    padding: 5px;
    z-index: 10;
}
.index-header-wrapper {
    position: sticky;
    top: 0;
}
.border-box {
    position: relative;
    border-style: dashed;
    border-color: #BFB8B8;
    border-width: 1px;
    display: flex;
    flex: 1;
    height: 55px;
    z-index: 10;
}

.manu-title-wrapper {
    display: flex;
    flex: 1;
    z-index: 15;
}

.manu-title {
    font-size: 5px;
    color: #ffffff;
    position: relative;
    padding: 5px 35px;
    display: flex;
    align-items: center;
    font-family: 'ALKDots';
}
.manu-title-hover{
    font-size: 19px;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bolder;
}
/*  manu titile hover*/
.manu-title-hover:hover{
    color: #ffc107;
}
/* hover */


.manu-title::after {
content: '';
/* display: block; */
position: absolute;
height: 35px;
right: 0%;
border-right: 1px solid #271e17;
box-shadow: 1px -2px #292828;
}

.search-icon {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-right: 35px;
    padding-top: 10px;
}
 /* background-title */
 .header-manu-section {
     position: relative;
 }
 .backgorun-title-wrapper {
    position: absolute;
    flex-direction: column;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .backgorun-title {
    width: 950px;
     font-size: 50px;
     max-width: 1100px;
     width: fit-content;
     color: #ffffff;
     text-align: center;
    font-family: "KA_LORTKIPANIDZE", sans-serif;
    font-weight: bolder;
     
}

.view-all-wrapper {
    width: fit-content;
    width: 200px;
    height: 50px;
    border: 1px;
    align-items: center;
    border-radius:10px;
    margin-left: 250px;
    margin-top: 120px;
    background-color: #ffffff;
   display: block;
   background: linear-gradient(to right,#ffc107 50%, white 50%);
   background-size: 200% 100%;
   background-position: right bottom;
   transition: all .5s ease-out;
}

.view-all {
   padding-top: 10px;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   color: black;
   transition: all .6s ease-out;
   display: block;
   font-family: 'ALKDots';
 }
 .view-all:hover {
    color: white;
  }
 .view-all-wrapper:hover {
    background-position: left bottom;
  }

/* welcome-section */
.welcome-background {
    width: 100%;
    height: 470px;
    background-color: #ffc107;
    position: relative;
}

.welcome-section-title {
    line-height: 50px;
    font-weight: 700;
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    color: #242424;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: welcome 7s infinite;
    animation-fill-mode: forwards;
}
.welcome-section-text {
    position: absolute;
    max-width: 900px;
    margin-bottom: 250;
    max-width: fit-content;
    line-height: 20px;
    font-size: 15px;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* about-section */
.about-main-wrapper {
    width: 1000px;
    display: flex;
    justify-content:space-around;
    position: relative;
    margin: 0 auto;
    padding-top: 290px;
}
.about-blok {
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    overflow: hidden;
}
.about-blok-image {
    width: 100%;
    padding: 0 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform .5s;
    overflow: hidden;

}
.about-blok-image:hover {
    transform: scale(1.2)
}
.about-blok-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.about-blok-text {
    font-size: 15px;
    text-align: center;
    color: #595959;
    line-height: 15px;
    
}
/* history-wrapper */
.history-section {
    background-image: url(../image/backimage.jpg);
    background-size: cover;
    padding: 200px;
}
.histyry-image-wrapper {
    margin-right: 200px;
}
.child-history-section-wrapper {
    max-width: fit-content;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-history-wrapper {
    position: relative;
    position: static;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.history-wrapper {
    position:absolute;
    width: fit-content;
    max-width: 500px;
    padding-top:  100px;
    text-align: left;
}
.history-title {
    font-size: 40px;
    max-width: 600px;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.and {
    font-family: "KA_LORTKIPANIDZE", sans-serif;
    font-size: 60px;
}
.history-text {
color: #595959;
}
/* history-icon */
.history-icon-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.icon::before {
    position: absolute;
    font-family: Flaticon;
    font-style: normal;
    font-size: 60px;
    color: #f7bd00;
}
.modern-dairy::before {
    content: '\f11a';
}

.natural-organic::before {
    content: '\f118';
}
.best-product::before {
    content: '\f119';
}
.awarded-farm::before {
    content: '\f117';
}

.icon-discriprion{
    margin-top: 70px;
    font-size: 15px;
    font-weight: bold;
    width: 30px;
}
/* millking section */
.millking-section {
    background-image: url(../image/handandmilk.jpg);
    padding: 100px 100px 70px;
    background-size: cover;
}

.millking-wrapper {
    width: fit-content;
    width: 800px;
    margin: 0 auto;
}

.milking-wrapper-title {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    line-height: 55px;
    margin-bottom: 25px;
}
.milking-wrapper-text {
    width: 500px;
    font-size: 20px;
    color: #fff2d4;
}
/* offer-section */
.offer-section {
    background-image: url(../image/backimage2.jpg);
    background-size: cover;
    padding: 50px;
}
.offer-text-wrapper{
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.offer-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;

}

 /* offer image  */
 .main-offer-image-wrapper {
     max-width: 1100px;
     position: relative;
     margin: 0 auto;
     padding: 50px;
     display: flex;
     justify-content: space-around;
     margin-bottom: 50px;
 }
 .child-offer-wrapper {
     flex-direction: column;
     justify-content: space-between;
     width:fit-content;
 }

 .offer-image-blok{
    border: 2px dashed #cdcdcd;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
 }

 .offer-blok-image {
     border-radius: 100%;
     position: absolute;
     height: 185px;
     width: 185px;
     transition: transform .5s;
}
.offer-blok-image:hover {
    transform: rotate(50deg);
}

 .offer-blok-text {
     text-align: center;
 }
.offer-blok-title{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.offer-text {
    font-size: 15px;
}
.child-offer-text {
    max-width: fit-content;
}

/* view-all-products-wrapper */
.view-all-products-wrapper {
    width: fit-content;
    background-color: #f7bd00;
    border-radius: 10px;
    padding: 20px 50px;
    text-align: center;
    margin: 0 auto;
    display: block;
    background: linear-gradient(to right, black 50%, #f7bd00 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.view-all-products-wrapper:hover{
        background-position: left bottom; 
}
.view-all-text {
    font-size: 25px;
    font-family: 'ALKDots';
    font-weight: bold;
    transition: all .6s ease-out;
    display: block;
}
.view-all-text:hover{
    color: white;  
}
/* meet-farm-section */
.meet-farm-section {
    background-image: url(../image/backimage3.jpg);
    background-size: cover;
    height: 500px;
    padding: 50px;
}
.meet-farm-title{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    
    
}
.farmer-info-section {
    width: fit-content;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.farmer-image, .tsisa {
    border-radius: 30%;
    width: 250px;
    height: 250px;
}
.farmer-bio {
    width: 500px;
    margin:50px 90px;
}
.farmer-name {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}
/* home-footer */
.home-footer {
    position: relative;
    z-index: 2;
}
.home-footer::after {
    content: '';
    background-image: url(../image/backimage4.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 12;
}
.main-home-footer-wrapper {
    width: 1100px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    z-index: 30;

}

.home-footer-blok {
    width: fit-content;
    position: relative;
}

.footrer-addres {
    max-width: 250px;
    font-size: 20px;
}
/* footer-line */
.home-footer-line {
    margin: 0 auto;
    width: 1000px;
    height: 1px;
    background-color: #595959;
}
.footer-navigation {
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'ALKDots';
}
.secend-contact-wrapper {
    margin-left: 30px;
}
.footer-input {
    margin-top: 10px;
}
